.featured-speakers .speaker{
	margin-bottom: 10%;
}



.speaker {
	text-align: center;
	vertical-align: middle;
	width: 50%;
	float: left;
}

.workshop-tracks {
	clear: both;
}

h2 {
	text-align: center;
}