.featured-speakers .speaker{
	margin-bottom: 10%;
}



.speaker {
	text-align: center;
	vertical-align: middle;
	width: 50%;
	float: left;
}

.date p {
	text-transform: uppercase;

}

.date-address {
	padding: 1em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	background-color: #29D9C2;
}


.workshop-tracks {
	clear: both;
}

.workshop-tracks h2 {
	color: #fff;
	background-color: #3F3D73;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;
}

/*.creative-writing-workshop h2{
	color: #fff;
	background-color: #FF6138;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;
}

.fine-arts-workshop h2 {
	color: #fff;
	background-color: #BEEB9F;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;
}

.performing-arts-workshop h2 {
	color: #fff;
	background-color: #79BD8F;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;

}

.media-arts-workshop h2{
	color: #fff;
	background-color: #00A388;
	padding: 0.5em;
	text-align: center;
	margin-bottom: 1em;

}*/

h2 {
	text-align: center;
}

.note {
  position: relative;
  width: 100%;
  padding: 1em 1em 0em 1em;
  margin-bottom: 1em;
  /*margin: 2em auto;*/
  color: #262626;
  background: #01A2A6;
  overflow: hidden;
}

.note:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 26px 26px 0;
  border-style: solid;
  border-color: #fff #fff #01A2A6 #01A2A6;
  background: #01A2A6;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}
