body {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	font-weight: 400;
	width: 800px;
	margin: 0 auto;
}

main {
	padding: 2em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.time {
	font-style: italic;
	margin-bottom: 2em;
	font-weight: 400;
	line-height: 2em;
}

p {
	padding-bottom: 1em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
	padding-bottom: 2em;
}

h4 {
	padding-bottom: 1.5em;
	font-size: 1.3em;
}

.opening-hours-info {}

.session {
	padding-top: 2em;
}

.session h3 {
	font-size: 1em;
	padding-bottom: 1em;
}

.session h4 {
	font-style: italic;
	padding-bottom: 1em;
	font-weight: 400;
}

.section-name  {
	font-weight: bold;
}

.room-num {
	font-size: 0.8em;
}

.session li {
	padding-bottom: 1em;
	list-style-type: none;
}

.opening-hours-info{
	padding-top: 2em;
}

.closing-hours-info {
	padding-top: 2em;
	padding-bottom: 2em;
}

.lunch-info {
	padding-top: 2em;
}
