body {
	font-family: 'Open Sans', sans-serif;
	line-height: 20px;
	font-weight: 400;
	width: 800px;
	margin: 0 auto;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
}

.time {
	font-style: italic;
	margin-bottom: 40px;
	font-weight: 400;
	line-height: 40px;
}

p {
	padding-bottom: 20px;
}

h2 {
	font-size: 35px;
	padding-bottom: 40px;
}

h4 {
	padding-bottom: 30px;
	font-size: 25px;
}

.session {
	padding-top: 40px;
}

.session h3 {
	font-size: 20px;
	padding-bottom: 20px;
}

.session h4 {
	font-style: italic;
	padding-bottom: 20px;
	font-weight: 400;
}

.section-name  {
	font-weight: bold;
}

.room-num {
	font-size: 14px;
}

.session li {
	padding-bottom: 20px;
	list-style-type: none;
}

.opening-hours-info{
	padding-top: 40px;
}

.closing-hours-info {
	padding-top: 40px;
	padding-bottom: 40px;
}

.lunch-info {
	padding-top: 40px;
}