main {
	padding: 2em;
}


h1, h2, h3, h4, h5, h6 {
	font-family: 'Francois One', sans-serif;
	padding-bottom: 1.5em;
}

p {
	padding-bottom: 1em;
	padding-top: 1em;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.5em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 1em;
}

.session h3 {
	text-transform: uppercase;
}

.presenter {
	float: left;
	width: 50px;
}

.clear {
	clear: both;
} 

.session {
	padding-bottom: 1em;
}
