
.featured-speakers .speaker{
	margin-bottom: 10%;
}

.speaker-front-page a img {
display: block;
    margin: 0 auto;
}

.speaker-front-page h3 {
    width: 100%;
    text-align: center;
    padding: 0.2em;
    font-size: 1em;
}

.intro span {
font-style: italic;
}

.date p {
	text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
}

.date-address p{
	padding: 1em;
	padding-bottom: 0em;
	margin-bottom: 1em;
	background-color: #29D9C2;
    
}

.address p {
    text-transform: uppercase;
}


.workshop-tracks {
	clear: both;
    margin-top: 2em;
}

.workshop {
    margin-top: 2em;
}

.note-section {
//  position: relative;
//  width: 100%;
//    height: 9em;
  padding: 1em 1em 0em 1em;
//  margin-bottom: 1em;
  /*margin: 2em auto;*/
  color: #262626;
  background: #01A2A6;
//  overflow: hidden;
}

.note-section {
//margin-bottom: 2em;
}

#home footer{
    margin-top: 3em;
}




