.speakers-title{
	clear: both;

}

.clear {
	clear: both;
}

.speaker img {
display: inline;
    float: left;
    margin-right: 1em;
}

.speaker p {
display: inline;
}

#speakers footer{
    margin-top: 2em;
}

footer {
clear: both;}


